aiohttp[speedups]
flask
gunicorn
starlette
uvicorn
uwsgi
aiopg
psycopg2-binary
gevent
psycogreen
git+https://github.com/idot/meinheld.git@2bfe452#egg=meinheld
falcon
sanic
bottle
daphne
Quart
fastapi
tornado
aioflask
requests
psutil
